{{ base = "font-headings text-balance tracking-tight font-bold" }}

{{ size_class = switch(
    (size == "jumbo")   => "xl:text-9xl lg:text-8xl md:text-7xl text-6xl",
    (size == "8xl")     => "xl:text-8xl lg:text-7xl md:text-6xl text-5xl",
    (size == "7xl")     => "xl:text-7xl lg:text-6xl md:text-5xl text-4xl",
    (size == "6xl")     => "xl:text-6xl lg:text-5xl md:text-4xl text-3xl",
    (size == "5xl")     => "xl:text-5xl lg:text-4xl md:text-3xl text-2xl",
    (size == "4xl")     => "xl:text-4xl lg:text-3xl md:text-2xl text-xl",
    (size == "3xl")     => "xl:text-3xl lg:text-2xl md:text-xl text-lg",
    ()                  => "xl:text-2xl lg:text-xl md:text-lg text-base"
) }}

<{{ as ?? 'h2' }} class="{{ [base, size_class, class] | tw_merge }}">
    {{ slot }}
</{{ as ?? 'h2' }}>
