<article class="my-4 bg-white p-8 shadow-xl rounded-2xl max-w-xl prose prose-zinc ">
    {{ content | widont }}
</article>

<x-heading class="">We kunnen veel, maar hierin zijn we op  ons best.</x-heading>

<x-button icon="arrow-right">hallo</x-button>
<x-button variant="secondary" icon="arrow-right">Secondary</x-button>
<x-button variant="outline" icon="arrow-right">Outline</x-button>

<div class="grid gap-8 md:grid-cols-3">
    <x-video
        video-url="https://vimeo.com/1212836492"
        caption="Vimeo voorbeeld"
        size="md"
    />

    <x-video
        video-url="https://www.youtube.com/watch?v=aqz-KE-bpKQ"
        caption="YouTube voorbeeld"
        size="md"
    />

    <x-video
        video-url="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4"
        caption="MP4 voorbeeld"
        size="md"
    />
</div>

    <x-prose class="prose-pink">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque dolor, ipsum laborum vel eaque laudantium ullam ipsa animi possimus porro sapiente totam, culpa est alias voluptatibus cum quas ipsam consequuntur.</p>
    </x-prose>




    <x-picture 
        image="https://images.unsplash.com/photo-1773332611573-5e5bfa8e5de5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="Hero Image" 
        cover
        class="h-96 rounded-lg" 
    />

    <x-picture 
        image="https://images.unsplash.com/photo-1773332611573-5e5bfa8e5de5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt="Hero Image" 
        cover
        class="h-96 rounded-lg" 
    />
