

<article class="my-4 bg-white dark:bg-zinc-950 p-8 shadow-xl rounded-2xl max-w-xl prose prose-zinc ">
    {{ content | widont }}
</article>

<x-heading class="">We kunnen veel, maar hierin zijn we op  ons best.</x-heading>

<x-button icon="arrow-right">hallo</x-button>
<x-button variant="secondary" icon="arrow-right">Secondary</x-button>
<x-button variant="outline" icon="arrow-right">Outline</x-button>

 <x-prose>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque dolor, ipsum laborum vel eaque laudantium ullam ipsa animi possimus porro sapiente totam, culpa est alias voluptatibus cum quas ipsam consequuntur.</p>
</x-prose>

<x-picture image="https://images.unsplash.com/photo-1773332611573-5e5bfa8e5de5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hero Image" cover class="h-96 rounded-lg" />
