{{ partial:section class="my-8 bg-green-50" }}
    {{ partial:container class="py-24 sm:py-32"}}      
        <x-heading class="max-w-2xl">{{heading}}</x-heading>
        <x-prose class="max-w-2xl mt-8">{{description}}</x-prose>
        <div class="mt-10 flex items-center gap-x-6">
           {{ buttons}}
                <x-button variant="{{variant}}" href="{{link}}">
                    {{label}}
                </x-button>
            {{ /buttons}}
        </div>
    {{ /partial:container }}    
{{ /partial:section }}
