{{ partial:section class="my-8 bg-green-50" }}
    {{ partial:container class="py-24 sm:py-32 grid lg:grid-cols-12 items-center gap-8"}}  
        <div class="lg:col-span-6 lg:py-8">
            <x-heading>{{heading}}</x-heading>
            <x-prose class="my-6">{{description}}</x-prose>
            <div class="mt-10 flex items-center gap-x-6">
            {{ buttons}}
                <x-button variant="{{variant}}" href="{{link}}">
                    {{label}}
                </x-button>
            {{ /buttons}}
            </div>
        </div>
        <div class="lg:col-span-6 lg:py-8">
            <x-picture 
                cover 
                class="rounded-lg aspect-video"  
                image="{{image}}" />   
        </div>
    {{ /partial:container }}
{{ /partial:section }}
